# Assignment #1 (demo). Exploratory data analysis with Pandas

In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")
import statistics

In [2]:
# for Jupyter-book, we copy data from GitHub, locally, to save Internet traffic,
# you can specify the data/ folder from the root of your cloned
# https://github.com/Yorko/mlcourse.ai repo, to save Internet traffic
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/"

In [3]:
ds = pd.read_csv(DATA_URL + "adult.data.csv")
ds.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. How many men and women (sex feature) are represented in this dataset?

In [4]:
print('Amount of males in the Dataset are:', ds['sex'].to_list().count('Male'))

Amount of males in the Dataset are: 21790

In [5]:
print('Amount of females in the Dataset are:', ds['sex'].to_list().count('Female'))

Amount of females in the Dataset are: 10771

2. What is the average age (age feature) of women?

In [6]:
ds.loc[ds['sex'] == 'Female', 'age'].mean()

36.85823043357163

3. What is the percentage of German citizens (native-country feature)?

In [7]:
ds.loc[ds['native-country'] == 'Germany']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
122,30,Private,77143,Bachelors,13,Never-married,Exec-managerial,Own-child,Black,Male,0,0,40,Germany,<=50K
280,22,Private,34918,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,15,Germany,<=50K
767,22,Private,151790,Some-college,10,Married-civ-spouse,Sales,Wife,White,Female,0,0,30,Germany,<=50K
1009,26,Private,109186,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,Germany,<=50K
1142,59,Federal-gov,212448,HS-grad,9,Widowed,Sales,Unmarried,White,Female,0,0,40,Germany,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32074,30,Private,318749,Assoc-voc,11,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,35,Germany,<=50K
32101,45,Private,174794,Bachelors,13,Separated,Prof-specialty,Unmarried,White,Female,0,0,56,Germany,<=50K
32141,34,Private,193344,Some-college,10,Never-married,Adm-clerical,Unmarried,White,Female,0,0,40,Germany,<=50K
32236,26,Private,323044,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,Germany,>50K
32341,74,Self-emp-not-inc,199136,Bachelors,13,Widowed,Craft-repair,Not-in-family,White,Male,15831,0,8,Germany,>50K

In [8]:
ds_germans_share = ds['native-country'].to_list().count('Germany') / len(ds) * 100
precision = 2
print('Percentage of German citizens in the Dataset is ', format(ds_germans_share, f'.{precision}f'), '%', sep='')

Percentage of German citizens in the Dataset is 0.42%

4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [9]:
mean = statistics.mean(ds['salary'] == '>50K')
stand_dev = statistics.stdev(ds['salary'] == '>50K')

print('Mean and Standard deviation of age for those who earn more than 50K per year:')
print('Mean:', mean)
print('Standard deviation:', stand_dev)

mean = statistics.mean(ds['salary'] == '<=50K')
stand_dev = statistics.stdev(ds['salary'] == '<=50K')
print()
print('Mean and Standard deviation of age for those who earn less than 50K per year:')
print('Mean:', mean)
print('Standard deviation:', stand_dev)

Mean and Standard deviation of age for those who earn more than 50K per year:
Mean: 0.2408095574460244
Standard deviation: 0.4275814885646921

Mean and Standard deviation of age for those who earn less than 50K per year:
Mean: 0.7591904425539756
Standard deviation: 0.4275814885646921

6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

# ???

In [11]:
print(ds['education'].unique)

# Map salary values to numeric
salary_mapping = {'>50k': 1, '<=50k': 0}
ds['salary_numeric'] = ds['salary'].map(salary_mapping)

# Map education values to numeric
education_mapping = {'Bachelors': 1, 'Prof-school': 2, 'Assoc-acdm': 3, 'Assoc-voc': 4, 'Masters': 5, 'Doctorate': 6}
#df['education_numeric'] = df['education'].map(education_mapping)

<bound method Series.unique of 0         Bachelors
1         Bachelors
2           HS-grad
3              11th
4         Bachelors
            ...
32556    Assoc-acdm
32557       HS-grad
32558       HS-grad
32559       HS-grad
32560       HS-grad
Name: education, Length: 32561, dtype: object>

7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [18]:
age_stats = ds.groupby(['race', 'sex'])['age'].describe()
print(age_stats)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [19]:
amer_indian_males = ds[(ds['race'] == 'Amer-Indian-Eskimo') & (ds['sex'] == 'Male')]
amer_indian_males_max_age = amer_indian_males['age'].max()
print('The maximum age of men of Amer-Indian-Eskimo race is', amer_indian_males_max_age)

The maximum age of men of Amer-Indian-Eskimo race is 82

8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

def categorize_marital_status(status):
    if status.startswith("Married"):
        return "Married"
    else:
        return "Single"

In [20]:
# Function to categorize marital-status
def categorize_marital_status(status):
  if status.startswith('Married'):
    return 'Married'
  else:
    return 'Bachelor'